<div id="<%= dom_id picture %>">

<div class="card text-center">
  <div class="card-header">
    <%= picture.name %>
  </div>
  <div class="card-body">
  <div class="card-img-top">
 <%= image_tag picture.images[0], class: 'card-img-top' %>
 </div>
    <p class="card-text">
      <%= picture.description %>
    </p>
  <a href="#" class="btn btn-primary">
    <%= link_to "Show this post", picture %>
  </a>
</div>
  <div class="card-footer text-body-secondary">
    <%= picture.updated_at %>
  </div>
</div>