<div id="<%= dom_id picture %>">
  <p>
    <strong>Name:</strong>
    <%= picture.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= picture.description %>
  </p>

</div>

<div class="col-3">
 <div class="card">
 <%= image_tag picture.images[0], class: 'card-img-top' %>
 <div class="card-body">

 <h5 class="card-title"><%= picture.name %></h5>
 <p class="card-text">
 <strong>Description:</strong>
 <%= picture.description %>
 </p>
 </div>
 </div>
</div>
